{% extends "templates/base.twig" %}
{% block content %}
{% for data in datas  %}
        <section class="page-section portfolio mt-5" id="portfolio">
            <div class="container">
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-5">{{data.title}}</h2>
                <h3 class=" text-center text-secondary mb-2">{{data.chapo}}</h3>
                <div class="w-25 m-auto" style="background-color: #eee;">
                
                <span class="fw-bolder">{% if data.last_updated %} Modifié le {{data.last_updated}}
                    {% else %}
                    Crée le {{data.created_at |format_datetime('full','none') }}
                    {% endif %} par  @{{data.pseudo}}</span>
                 
                </div>
                <div class="row justify-content-center mt-2">
                    <div class="col-md-6 col-lg-4 mb-5">
                            <img class="img-fluid" src="http://blog.test/assets/img/{{data.img}}" alt="..." />
                    </div>
                    <section class="page-section">
                    {{data.content|raw}}
                    </section>
                    {% endfor %}
                     {# <div class="col-md-6 col-lg-6 mb-5">
                        <div class="border m-1">
                                <p class="text-center font-italic">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur fugiat iste labore ab sit mollitia! Et sunt labore sequi hic doloribus, cum dolorem in eveniet! </p>
                                <div class="container mx-auto">
                                    <button class="btn btn-light btn-sm">
                                                Modifier
                                    </button>
                                    <button class="btn btn-danger btn-sm">
                                                Supprimer
                                    </button>
                                </div>
                        </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur fugiat iste labore ab sit mollitia! Et sunt labore sequi hic doloribus, cum dolorem in eveniet!</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur fugiat iste labore ab sit mollitia! Et sunt labore sequi hic doloribus, cum dolorem in eveniet!</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur fugiat iste labore ab sit mollitia! Et sunt labore sequi hic doloribus, cum dolorem in eveniet!</p>
                    </div> #}
                    {# <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">@user</h5>
                            <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita, magni.um dolor sit amet consectetur a</p>
                            <a href="#" class="btn btn-light btn-sm">Modifier</a>
                            <a href="#" class="btn btn-danger btn-sm">Supprimer</a>
                        </div>
                    </div> #}
                    {% if session.user %}
                    <form class="container mb-5">
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">Saisissez votre commentaire</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                        <div class="form-group">
                         <button type="submit" class="btn btn-secondary btn-sm m-1">Envoyer</button>
                         </div>
                    </form>
                    {% else %}
                   <a href="/inscription"><p class="m-5">Pour commenter veuillez vous connecter </p></a>
                    {% endif %}
                    <div class="container">
                    {% for comment in comments %}
                        <div class="card text-center">
                            <div class="card-header">
                                @{{comment.pseudo}}
                            </div>
                            <div class="card-body">
                             
                                 <p class="card-text">{{comment.comment}}</p>
                                {% if session.user.id == comment.users_id %}
                                <a href="#" class="btn btn-link btn-sm comment_link">Modifier</a>
                                <a href="#" class="btn btn-danger btn-sm">Supprimer</a>
                                {% endif %}
                            </div>
                            <div class="card-footer text-muted">
                                {{comment._date|format_datetime('full','none')}}
                            </div>
                        </div>
                        
                        <div class="divider-custom">
                            <div class="divider-custom-line"></div>
                            <div class="divider-custom-icon"><i class="fa-solid fa-terminal"></i></div>
                            <div class="divider-custom-line"></div>
                        </div>
                        {% endfor %}
                        {# <div class="card text-center">
                            <div class="card-header">
                                @user
                            </div>
                            <div class="card-body">
                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                <a href="#" class="btn btn-link btn-sm comment_link">Modifier</a>
                                <a href="#" class="btn btn-danger btn-sm">Supprimer</a>
                            </div>
                            <div class="card-footer text-muted">
                                date
                            </div>
                        </div>
                        <div class="divider-custom">
                            <div class="divider-custom-line"></div>
                            <div class="divider-custom-icon"><i class="fa-solid fa-terminal"></i></div>
                            <div class="divider-custom-line"></div>
                        </div>
                        <div class="card text-center">
                            <div class="card-header">
                                @user
                            </div>
                            <div class="card-body">
                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                <a href="#" class="btn btn-link btn-sm comment_link">Modifier</a>
                                <a href="#" class="btn btn-danger btn-sm">Supprimer</a>
                            </div>
                            <div class="card-footer text-muted">
                                date
                            </div>
                        </div>
                        <div class="divider-custom">
                            <div class="divider-custom-line"></div>
                            <div class="divider-custom-icon"><i class="fa-solid fa-terminal"></i></div>
                            <div class="divider-custom-line"></div>
                        </div>
                        <div class="card text-center">
                            <div class="card-header">
                                @user
                            </div>
                            <div class="card-body">
                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                <a href="#" class="btn btn-link btn-sm comment_link">Modifier</a>
                                <a href="#" class="btn btn-danger btn-sm">Supprimer</a>
                            </div>
                            <div class="card-footer text-muted">
                                date
                            </div>
                        </div>
                        <div class="divider-custom">
                            <div class="divider-custom-line"></div>
                            <div class="divider-custom-icon"><i class="fa-solid fa-terminal"></i></div>
                            <div class="divider-custom-line"></div>
                        </div> #}
                    </div>

        </section>
       
{% endblock %}
